<!DOCTYPE html>
<html>

<head>
    <title>User Information</title>
</head>

<body>
    <h1>User Information</h1>
    <ul>
        <li><strong>User ID:</strong>
            <h2> user_id</h2>
        </li><br>
        <li><strong>First Name:</strong>
            <h2>first_name </h2>
        </li><br>
        <li><strong>Last Name:</strong>
            <h2>last_name</h2>
        </li><br>
        <li><strong>Email:</strong>
            <h2>email</h2>
        </li><br>
        <li><strong>Token:</strong>
            <h2>token</h2>
        </li><br>
    </ul>
</body>

</html>