<!DOCTYPE html>
<html>

<head>
    <title>Task Data Pagination</title>
</head>

<body>
    <h1>Task Data Pagination</h1>
    <form action="/tasktemp/pagination" method="get">
        <input type="text" name="search" placeholder="Search tasks">
        <button type="submit">Search</button>
    </form>
    <div>
        <a href="?page= page - 1&limit= limit &search= search ">Previous</a>

        <a href="?page= page + 1 &limit= limit &search= search ">Next</a>

    </div>
</body>

</html>