<!DOCTYPE html>
<html>

<head>
    <title>Edit Task</title>
</head>

<body>
    <h1>Edit Task</h1>
    <form id="editForm" action="/tasktemp/update-task/<%= task._id %>" method="GET">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= task.name %>">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="<%= task.description %>">
        <button type="submit">Update Task</button>
    </form>
</body>

</html>