<!DOCTYPE html>
<html>

<head>
    <title>Edit Task</title>
</head>

<body>
    <h1>Edit Task</h1>
    <form action="/task/edit-task/<%= task._id %>" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= task.name %>"><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"><%= task.description %></textarea><br><br>
        <button type="submit">Save Changes</button>
    </form>

</body>

</html>